{% extends "base.html" %}
{% block title%}about us{% endblock %}
{% block content %}
<p class="h1">Software Engineering class SFSU</p>
<p class="h1">Fall 2020</p>
<p class="h1">Section 3</p>
<p class="h1">Team 5</p>
<div class="list-group">
    <a href="about/Naweeda" class="list-group-item list-group-item-action">Naweeda</a>
    <a href="about/dang" class="list-group-item list-group-item-action">Dang</a>
    <a href="about/austin" class="list-group-item list-group-item-action">Austin</a>
    <a href="about/josh" class="list-group-item list-group-item-action">Josh</a>
    <a href="about/marvin" class="list-group-item list-group-item-action">Marvin</a>
    <a href="about/manuel" class="list-group-item list-group-item-action">Manuel</a>
</div>
{% endblock %}
