{% extends "base.html" %}
{% block title%}Login{% endblock %}
{% block content %}  
  <div class="container">
    <form action="/login" method="post">
        <!-- Email -->
        <div class="col-xs-4">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" placeholder="Enter email" id="email" name="email">
        </div>
        <!-- Password -->
        <div class="col-xs-4">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" placeholder="Enter password" id="pwd" name="pwd">
        </div>
        <div class ="msg">{{ msg }}</div>
        <!-- Forgot Password -->
        <div class="col text-center">
            <button type="button" class="btn btn-link">Forgot Password</button>
        </div>

        <!-- Submit Button -->
        <div class="col text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

        <!-- Cancel -->
        <div class="col text-center">
            <a href="/" class="btn btn-link" role="button">Cancel</a>
        </div>
      </form>
  </div>
{% endblock %}