<head>
  <link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='css/styles/chat.css')}}">
</head>
{% extends "base.html" %}
{% block title%}posting{% endblock %}
{% block content %}

<!-- ################### CHAT BODY ##############################-->
<div class = "chatbody" id="log">
  <h2> Messenger</h2>
  <div class = "message" id="log">
  </div>
</div>
<form id="send_room" method="POST" action='#'  >
  <input type="text" name="room_data" id="room_data" placeholder="Message" style="width:90%" >
  <input type="submit" value="Send ">
</form>
</div>
<!-- ################### ENDING CHAT BODY ##############################-->


<!-- ################### SCRIPT FOR REAL TIME CHAT ##############################-->

<script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
      namespace = '/test';
  
      var socket = io(namespace);
      socket.emit('join', {room: "{{data}}"});
  
      socket.on('my_response', function(msg, cb) {
  
  
        if (msg.user !== "{{session['name']}}" ) {
          $('#log').append('<p>' + msg.user + ' </p> <div class = "cont"> <p>'  +  msg.data + ' </p> <span class="time-right">11:00</span> </div>');
        }else {
          $('#log').append('<p class="right">' + msg.user + ' </p> <div class = "cont darker"> <p>'   + msg.data + ' </p> <span class="time-left">11:00</span></div>');
        }
          if (cb)
              cb();
      });
  
      $('form#send_room').submit(function(event) {
          socket.emit('my_room_event', {room: "{{data}}", data: $('#room_data').val(), 'user': '{{user}}'   });
          return false;
  
      });
  
  });
</script>

<!-- ################### ENDING SCRIPT FOR REAL TIME CHAT ##############################-->

{% endblock %}