{% extends "base.html" %}
{% block title%} About Page {% endblock %}
{% block content %}
<h1>about page</h1>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">Naweeda</a>
    <a href="about/dang" class="list-group-item list-group-item-action">Dang</a>
    <a href="about/austin" class="list-group-item list-group-item-action">Austin</a>
    <a href="#" class="list-group-item list-group-item-action">Josh</a>
    <a href="#" class="list-group-item list-group-item-action">Marvin</a>
    <a href="#" class="list-group-item list-group-item-action">Manuel</a>
</div>
{% endblock %}
