<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link type= "text/css" href="{{url_for('static', filename='css/styles/style.css')}}" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
    <p class="h1">Software Engineering class SFSU, Fall 2020, Team 05</p>
    <!-- This is nav bar -->
    <nav class="navbar navbar-expand-lg navbar-info bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="about">About Us</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0" action ="/search" method ="POST">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Catergory
          </a>
            <select class="dropdown-menu" aria-labelledby="navbarDropdown" name="filter" >
              <option class="dropdown-item" value ="All" >All</option>
              <option class="dropdown-item" value ="email" >email</option>
              <option class="dropdown-item" value ="firstName">first Name</option>
              <option class="dropdown-item" value = "lastName">last name</option>

            </select>
        </li>

        <input class="form-control mr-sm-2" type="search" name="searchedData" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <!-- End nav bar -->

        {%block content %}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>