
{% extends "base.html" %}
{% block title%}test search{% endblock %}
{% block content %}
  <div>
    {%if data %}
    This is Product in the database:
    {% for d in data %}
    <ul> 
      <p> Title : {{d["title"]}}  </p>  
      <p> author : {{d["email"]}}  </p>  
      <p> Price : {{d["price"]}}  </p>  
      <p> description : {{d["description"]}} </p>
      <img  src={{url_for('static', filename=d["image"] ) }}   height="100px" width="100px"  />
    </ul> 
      {% endfor %}
      {% endif %}
  </div>
{% endblock %}