.chatbody {
    margin: 0 auto;
    max-width: 90%;
    padding: 0 20px;
    border: solid 2px;
    border-color: #ddd;
    border-radius: 20px;
  }
  
  .cont {
    border: 2px solid #dedede;
    background-color: #00c6ff;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
    max-width: 100%;
  } 
  
  
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .cont::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .cont img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* .bubble{
      border: 2px solid #dedede;
      background-color: #f1f1f1;
      border-radius: 15px;
      display: inline-block;
      
  } */
  
  .cont p.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }
  
  textarea {
      height: 28px;
      width: 89.5%;
      margin-bottom: -8px;
      margin-left: 1px;
  }