
{% extends "base.html" %}
{% block title%}test search{% endblock %}
{% block content %}  

<style>
  .card-img-top {
    width: 100%;
    height: 18vw;
    object-fit: cover;
}
</style>

<div class="container" id="main" style="max-width: 100%">

  <div class="col-xs-12" style="height:50px;"></div><!--space from top nav-->
 
  {% if message %}
  <h3> {{message}}</h3>
  {% else %}
  {% if data|length < 9 %}
  <h3 class="h3 p-3">Displaying Results 1 - {{data|length}} of {{data|length}}</h3>
  {% endif %}
  {% if data|length > 9 %}
  <div class="row">
    <div class="col">
      <h3 class="h3" id="display-results">Displaying Results 1-9 of {{data|length}}</h3>
    </div>
    <div class="col"><!-- column -->

      <div class="float-right"><!-- page buttons -->
        <div class="btn-group">
          <div class="prev"><button type="button" class="btn btn-info">Prev</button></div>
          <div class="next"><button type="button" class="btn btn-info">Next</button></div>
        </div>
    </div><!-- end of page buttons -->


    <!-- <div class="search-filter">
      <form action="/search" method="POST">
      <input type="text" class="form-control" value={%if min %} {{min}} {% else %} 0 {% endif %} id="min" name="min" onkeypress="return isNumber(event)" />
      
      <input type="text" class="form-control" value={% if message %} 0 {%else %}{%if max %} {{max}} {% else %} {{high}} {% endif %}{% endif %} id="max" name="max" onkeypress="return isNumber(event)" />
     
      <select class="custom-select" name="order" id="order">
        <option>Sort by date:</option>
        <option value="newest">Newest</option>
        <option value="oldest">Oldest</option>
      </select>

    </form>
    </div> -->

      
      <div class="dropdown float-right">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort By:
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href='/search/dateFilter?searchedData={{searchedData}}&filter={{category}}&order=newest'>Newest</a>
          <a class="dropdown-item" href='/search/dateFilter?searchedData={{searchedData}}&filter={{category}}&order=oldest'>Oldest</a>
        </div>
      </div>
      
      



    </div><!-- column end-->
  </div>
  {% endif %}
  {% endif %}

  

  {%if data %}


  <div class="row justify-content-center">
    {% for d in data %}<!-- for: goes through data passed to page-->    
      <div id="wrap"> <!--wrap used for creating pages-->   

    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-3">

    <!-- individual card start-->    
      <div class="card text-center" style="width: 18rem;">
          <img class="card-img-top" alt="100%x280" src={{url_for('static', filename=d["image"] ) }}>
          <div class="card-body">
              <h4 class="card-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{d["title"]}}</h4>
              <p class="card-text">${{d["price"]}}</p>
               <button type="button" class="btn btn-primary">Contact</button>
          </div>
          <div class="card-footer">
             <small class="text-muted">Posted: {{d["date"]}}</small>
          </div> 

      </div><!-- individual card end-->

    
    </div><!-- sizing for screens end-->
    <!-- individual card end-->
 

    </div>
    <!-- </div>wrap end -->
    {% endfor %}

  </div><!--row end-->
 

  {% endif %}

 


<div class="text-center d-flex justify-content-end"><!-- page buttons -->
  <div class="p-3">
    <div class="btn-group">
      <div class="prev"><button type="button" class="btn btn-info">Prev</button></div>
      <div class="next"><button type="button" class="btn btn-info">Next</button></div>
    </div>
  </div>
</div><!-- end of page buttons -->



</div><!--main area end-->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<script>
  $(function() {


    $('.filter').change(function(){ 

  var postOrder = $('#order').val();
  $.ajax({
    type: 'POST',
    url: 'dateFilter?searchedData={{searchedData}}&filter={{category}}&postOrder='+postOrder,
    success: function(response){
      item = $(response).find('#refresh')
      $("#refresh").replaceWith(item);
    }
  })
}); 



      $('.search-filter').keyup(function(){
          var min = 0;
          var max = {{high}};
          if ($('#min').val() && $('#max').val() ) {
          min = $('#min').val();
          max = $('#max').val();
          }
    
          var order = $('#order').val();
      $.ajax({
          type: 'POST',
              url: 'filter?searchedData={{searchedData}}&filter={{category}}&min='+min+'&max=' +max+'&order=' +order,
              success: function(response) {   
                item = $(response).find('#refresh')
                $("#refresh").replaceWith(item);          }   
         });
      }).change( function(){
          var min = $('#min').val();
          var max = $('#max').val();
          var order = $('#order').val();
      $.ajax({
          type: 'POST',
              url: 'filter?searchedData={{searchedData}}&filter={{category}}&min='+min+'&max=' +max+'&order=' +order,
              success: function(response) {   
                item = $(response).find('#refresh')
                $("#refresh").replaceWith(item);
          }   
         });
      });
  });  
</script>


<!-- //*******************************
//The following functions are used
//to create individual pages and 
//navigate through them
//******************************** -->

<script>
var $el = $("#wrap > div");
var pageSize = 9;

$el.slice(0, pageSize).css({display: 'block'});
$el.slice(pageSize, $el.length).css({display: 'none'});


function addSlice(num){
  return num + pageSize;
}

function subtractSlice(num){
  return num - pageSize;
}

var slice = [0, pageSize];

$('.next').click(function(){
   if (slice[1] < $el.length ){ 
     slice = slice.map(addSlice);
     if (slice[1] > $el.length) {
      document.getElementById("display-results").innerHTML = "Displaying Results " + (slice[0]+1) + "-" + $el.length + " of " + $el.length
     }  else {
      document.getElementById("display-results").innerHTML = "Displaying Results " + (slice[0]+1) + "-" + slice[1] + " of " + $el.length
     }
   }
  scrollToTop()
   showSlice(slice);
});

$('.prev').click(function(){
  if (slice[0] > 0 ){ 
    slice = slice.map(subtractSlice); 
    document.getElementById("display-results").innerHTML = "Displaying Results " + (slice[0] + 1) + "-" + slice[1] + " of " + $el.length
  }
  scrollToTop()
  showSlice(slice);
});

function showSlice(slice){
  $el.css('display', 'none');
  $el.slice(slice[0], slice[1]).css('display','block');
}
</script>

<script>

//******************************
// Function is used to smoothly 
// scroll to the top of the page
// after clicking product page 
// navigation
//******************************
function scrollToTop() {

window.scrollTo({top: 0, behavior: 'smooth'});

}


//************************************************
//Used for input validation in filter 'min' & 'max'
//************************************************
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}

</script>

{% endblock %}