{% extends "base.html" %}
{% block title%}test search{% endblock %}
{% block content %} 
 
<style>
 .card-img-top {
   width: 100%;
   height: 18vw;
   object-fit: cover;
}
</style>
 
<div class="container mt-3 width:100%">
 <div class="col">
   <div class="row d-flex">
     <div class="mr-auto p-2">
       <h3>Displaying Results <span id="display-results"></span> of {{ data|length }}</h3>
     </div>
     <div class="p-2">
      
         <div class="search-filter">
           <form action="/search" method="POST">

           <!-- <h4>Sort by date</h4> -->
           <select class="custom-select" name="order" id="order">
             <option value="#">Sort by date:</option>
             <option value="/search/dateFilter?searchedData={{searchedData}}&filter={{category}}&order=newest" {% if order == 'newest'%} selected {% endif %}>Newest</option>
             <option value="/search/dateFilter?searchedData={{searchedData}}&filter={{category}}&order=oldest" {% if order == 'oldest'%} selected {% endif %}>Oldest</option>
           </select>
 
           </form>
         </div>
    
     </div>
     <div class="p-2">
       <input class="btn btn-primary" type="button" id="previous" value="previous"/>
       <input class="btn btn-primary" type="button" id="next" value="next"/>
     </div>
   </div>
 
   <div class="row">
     {% for d in data %}<!-- for: goes through data passed to page-->
         <div class="col-12 col-md-6 col-lg-4">
          
 
           <!-- individual card start-->
           <a target="_blank" href="/posting/{{d['postid']}}">
           <div id="product-{{ loop.index }}" class="card bg-light text-center products" style="display:none; margin-bottom: 1rem;" >
             <img class="card-img-top" src={{url_for('static', filename=d["image"] ) }} alt="Card image cap" style="height:15rem">
             <div class="card-header" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis">{{d["title"]}}</div>
             <div class="card-body">
               <h5 class="card-title text-success">${{d["price"]}}</h5>
               {% if session['email'] %}
                {% if session['email'] != d['email']%}
                  <a target="_blank" href="/message?author={{d['email']}}&postID={{d['postid']}}" class="btn btn-primary">
                    <button type="button" class="btn btn-primary">Contact</button>
                  </a>
                {% elif session['email'] == d['email'] %}
                  <a target="_blank" href="/posting/{{d['postid']}}" class="btn btn-primary">
                      <button type="button" class="btn btn-primary">View</button>
                  </a>
                {% endif %}
               {% else %}
              <a href="/login" class="btn btn-primary"><button type="button" class="btn btn-primary">Contact</button></a>
              {% endif %}            
               <p class="card-text"><small class="text-muted">Date Posted: {{d["date"]}}</small></p>
             </div>
           </div>
           </a>
           <!-- individual card end-->
           <!--overflow: hidden; white-space: nowrap; text-overflow: ellipsis-->
          
         </div>
     {% endfor %}
   </div>
 </div>
</div><!--main area end -->
 
 
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
 
 
<script>
 var page = 0;
 var pageSize = 9;
 var dataLength = $(".products").length;
 var pages = Math.floor(dataLength/pageSize);
 var remainder = dataLength % pageSize;
 if(dataLength < pageSize) {
   pageSize = dataLength;
 }
 
 
 
 $(document).ready(function () {
 
   if(page == pages) {
     document.getElementById("display-results").innerHTML = ((page * pageSize) + 1) + "-" + ((page) * pageSize + remainder)
   } else {
     document.getElementById("display-results").innerHTML = ((page * pageSize) + 1) + "-" + ((page) * pageSize + pageSize)
   }
 
   togglePage(page); 
  
   $("#next").click(function () {
     if(page == pages) {
       return;
     }
       togglePage(page);
       page++;
       if(page == pages) {
         document.getElementById("display-results").innerHTML = ((page * pageSize) + 1) + "-" + ((page) * pageSize + remainder)
       } else {
         document.getElementById("display-results").innerHTML = ((page * pageSize) + 1) + "-" + ((page) * pageSize + pageSize)
       }
       togglePage(page);
   });
   $("#previous").click(function () {
      
       if( page > 0)
       {
       togglePage(page);
       page--;
       if(page == pages) {
         document.getElementById("display-results").innerHTML = ((page * pageSize) + 1) + "-" + ((page) * pageSize + remainder)
       } else {
         document.getElementById("display-results").innerHTML = ((page * pageSize) + 1) + "-" + ((page) * pageSize + pageSize)
       }
       togglePage(page);}
      
       }
      
       );
                         
 });
 
 function togglePage(page)
 {
     for (var i = 1 ; i < pageSize  + 1; i++)
     {
         //alert("#product-" + ((page * pageSize) + i));
         $("#product-" + ((page * pageSize) + i)).toggle();
        
     }
    
    
 }

//Function used to reload page with order filter
 $(function(){      
      $('#order').on('change', function () {
          var url = $(this).val();
          if (url) {
              window.location = url;
          }
          return false;
      });
    });
 </script>
 {% endblock %}
